.parcel-cache/5d102dff0a3f4e7e
.parcel-cache/9a9c7011435fc402
.parcel-cache/bd262ed8371c3bbc
.parcel-cache/data.mdb
.parcel-cache/ec7a7e8ddee0d9ca
.parcel-cache/f6c2aacc42e8f766.txt
.parcel-cache/lock.mdb
dist/desafio-typescript.3464ddca.js
dist/desafio-typescript.3464ddca.js.map
dist/index.html
